* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #5cb85c;
    color: white;
    padding: 1;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #5cb85c;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.responsive-img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
